header {
    font-family: 'Courier New', Courier, monospace;
}

nav.navbar{
    background-color: rgb(255,192,208);
}
.navbar-nav{
    gap: 5px;
}

.navbar-nav a {
    text-align: center;
    color: rgb(255, 254, 213);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.navbar-nav a::before {
    content:"";
    display:inline-block;
    width:35px;
    height: 35px;
    margin-right: 5px;
    background-image: url(horseshoe.icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.trivia-btn{
    background-color: rgb(255, 197, 206);
    color:white;
    border:none;
}

.trivia-btn:hover{
    background-color:rgb(255, 168, 193);
}

body {
    background-color: rgb(255, 255, 237);
}

#container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
    /*
    background-color: rgb(255,213,222);
    border-radius: 1%;
    width: auto;
    */
}

.trivia {
    background-color: rgb(255,213,222);
    padding: 25px;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgb(0,0,0,0.1);
    margin-bottom: 30px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left img {
    margin-bottom: 10px;
}

.right {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.character-image,
.daiwa-image,
.tanino-image,
.vodka-image,
.wonder-image,
.grass-image,
.silence-image,
.haru-image {
    background-color:white;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgb(0,0,0,0.1);
}

.character-image {
    padding:30px;
    width: 250px;
}
.daiwa-image {
    padding:30px;
    width: 220px;
}
.tanino-image {
    padding:10px;
    width: 150px;
}
.vodka-image {
    padding:30px;
    width: 180px;
}
.wonder-image {
    padding:30px;
    width: 180px;
}
.grass-image {
    padding:25px;
    width: 180px;
}
.silence-image {
    padding:30px;
    width: 200px;
}
.haru-image {
    padding: 20px;
    width:250px;
}

.right p {
    background-color: lightgoldenrodyellow;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgb(0,0,0,0.1);
}

.name {
    margin-top: 10px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

@media (max-width: 900px){
    .trivia {
        flex-direction:column;
        align-items: center;
        text-align: center;
    }

    nav {
        gap: 40px;
    }
}

