/* Nav bar stuff */
.navbar-logo{
  display: flex;
  justify-content:center;
  margin-bottom: 0.5rem;
}

.navbar-logo img{
  height: 60px;
}

.navbar-brand{
  margin-left: 10px;
}

.nav-link{
  display: flex;
  align-items: right;
  color:white;
  border-radius: 8px;
}

.nav-text{
  padding: 5px;
  font-family:  'Poppins', 'Inter', sans-serif;
  display: inline-block;
  transition: transform 0.2s ease, font-size 0.2s ease;
}

.nav-text:hover{
  transform: scale(1.05);
}

.nav-icon{
  width:34px;
  height:34px;
}

/*Header and footer color*/
.bg-custom-success {
  background: linear-gradient(to left,#f992b1, #f79d53);
}

/*Intro and qna part*/
.intro {
  position: relative;
  background-color: transparent;
}

.intro-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: -1;  
}

/*Background color, character cards*/
body{
  background-color: rgb(255, 255, 237);
}

.card{
    background-color: #ffe4e1; 
    color: #d23e74;
}

.card-img-wrapper {
  position: relative;
}

.card-img-wrapper .default-img {
  display: block; 
  width: 100%;
  transition: opacity 0.3s ease;
}

.card-img-wrapper .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .default-img { opacity: 0; }
.card:hover .hover-img { opacity: 1; }


.btn.btn-primary.btn-sm{
  background: linear-gradient(to right,  #ffffff, #f0f0f034);
  border: 2px solid #e18098;
  color: #d35e81;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.btn.btn-primary.btn-sm:hover{
  background-color: #f9f9f9;
  transform: scale(1.05);
  box-shadow: 4px 4px 10px rgba(0,0,0,0.25);
}


.character-bar{
  background-color: #ed8186;
  font-size: 30px;
}

.character-bar-text{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family:'Poppins', 'Inter', sans-serif;
}

.fs-5 {
  color: rgb(36, 109, 109);
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.1)
}

.qn h4 {
  color: #cb3f44;
}
.qn p {
  color: #d3494e;
}
.qn p a {
  color: #ce4449;
  font-weight: bold;
}

/*Footer*/

footer {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #fff4f4;
}

footer a {
    color: white;
    font-weight: bold;
}
